body{
    margin: 0px;
}

#mainHeader{
    position: fixed;
    width: 1200px;
    vertical-align: middle;
    height: 100px;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#1E6591;
    border-radius: 5px;
    border-color: #1E6591;
    border-width: 1px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

#mtLogo{
    height: 81px;
    margin-left: 60px;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%)  
}

#headerTitle{
    margin:0px 0px 0px 210px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%) 
}

#app{
    margin-top: 122px;
}
